{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="{% static 'admin_dashboard.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <header id="header">
    <div id="logo-container">
      <img id="header-img" src="{% static 'images/logo.png' %}" alt="CHED Ambassadors" class="logo">
      <h1 class="title">Isko Ni Kapitan</h1>
    </div>
    <nav id="nav-bar">
      <ul>
        <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
        <li><a href="{% url 'programs' %}" class="nav-link">Our Programs</a></li>
        <li><a href="{% url 'about' %}" class="nav-link">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
      <h2>CHED Scholarship Application Database Faculty of the College of Computer and Information Sciences</h2>
      <h3>Polytechnic University of the Philippines, Sta. Mesa, Manila</h3>
      <h4>In partial fulfillment for the course COMP 010 – Information Management</h4>
      <h4>Presented by:</h4>
      <ul style="list-style: none;">
        <li>Abuela, Charles Andrei C.</li>
        <li>Baquing, Cristel Jane S.</li>
        <li>Brosoto, Irron Jovic Jun V.</li>
        <li>Padlan, Jezrielle Anne G.</li>
     </ul>
     <h4>BSCS 2-1N</h4>
     <h4>July 2024</h4>
  </div>
</body>
</html>