{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Honors Delete</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        #header-img {
            max-width: 50px;
        }
        .max-height {
            max-height: 70vh;
            overflow: auto;
        }
        ::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }

        ::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
          background: #888;
        }

        ::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
    </style>
</head>
<header id="header" class="p-3 bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <img id="header-img" class="logo mr-3 w-25" src="{% static 'images/logo.png' %}" alt="CHED Ambassadors">
            <h2 class="logo m-0 text-white">Admin Mode</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto nav-pills">
                    <li class="nav-item p-2">
                        <a class="nav-link text-white p-2" href="{% url 'user_list' %}">User</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-white" href="{% url 'applicant_list' %}">Applicant</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-white" href="{% url 'honors_list' %}">Honors</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-white" href="{% url 'siblings_list' %}">Siblings</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-white" href="{% url 'home' %}">Exit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body class="bg-light ">
<div class="container bg-dark p-5 my-5 mx-auto rounded shadow-sm">
    <h1 class="text-white text-center">Are you sure you want to delete the following entry?</h1>
    <div class="table-responsive max-height rounded">
        <div class="table-responsive max-height rounded">
            <table class="table table-primary table-striped table-bordered w-100">
            <thead>
                <tr>
                    <th>Honors ID</th>
                    <th>Honors Received</th>
                    <th>Honors School</th>
                    <th>Honors Date</th>
                    <th>Applicant ID</th>
                </tr>
            </thead>
            <tbody id="applicantTableBody">
                    <tr>
                        <td>{{ honor.honors_id }}</td>
                        <td>{{ honor.honors_received }}</td>
                        <td>{{ honor.honors_school }}</td>
                        <td>{{ honor.honors_date }}</td>
                        <td>{{ honor.applicant_id }}</td>
                    </tr>
            </tbody>
        </table>
    </div>
        <div class="d-flex justify-content-center mt-3">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn-lg btn-danger text-center">Confirm</button>
                <a href="{% url 'honors_list' %}"><button type="button" class="btn-lg btn-primary mx-auto">Cancel</button></a>
            </form>
        </div>
      </div>
</div>
</body>
</html>

